[Desktop Entry]
Name=Turbulence
Version=0.10.0-SNAPSHOT
GenericName=Turbulence
Comment=Turbulence Sound Installation
Exec=java -Xms2048m -Xmx2048m -XX:PermSize=256m -XX:MaxPermSize=512m -server -cp /home/hhrutz/Documents/devel/sysson/SysSon.jar at.iem.sysson.turbulence.Turbulence --auto
StartupWMClass=at-iem-sysson-turbulence-Turbulence
Icon=/home/hhrutz/Documents/devel/sysson/turbulence.png
Categories=Audio;AudioVideo;
Terminal=true
Type=Application
