[Desktop Entry]
Name=Turbulence
Version=0.6.0-SNAPSHOT
GenericName=Turbulence
Comment=Turbulence Sound Installation
Exec=java -Xmx1024m -cp /home/hhrutz/Documents/devel/sysson/SysSon.jar at.iem.sysson.turbulence.Turbulence
StartupWMClass=at-iem-sysson-turbulence-Turbulence
Icon=/home/hhrutz/Documents/devel/sysson/turbulence.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
