[Desktop Entry]
Name=SysSon
Version=1.10.1
GenericName=SysSon
Comment=SysSon Sonification Environment
Exec=/usr/share/sysson/bin/sysson
StartupWMClass=at-iem-sysson-Main
Icon=/usr/share/sysson/SysSon.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
